body {
  background-image: url("https://cdn.cp.adobe.io/content/2/dcx/27ca247e-a832-4873-b3a1-4fe283d01e2a/rendition/preview.jpg/version/1/format/jpg/dimension/width/size/1200");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #272a31;
}

.main-container {
  margin-bottom: 2em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline #ec5242;
}

li {
  list-style: none;
}

.text-center {
  text-align: center;
}

/* navbar */

.top-nav,
.lists-ul li {
  display: none;
}

.navbar {
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.bar {
  padding-top: 14px;
  padding-left: 30px;
}

.bar a,
.about-title,
.about-2nd-title,
label {
  color: #ec5242;
}

.nav-logo {
  display: none;
  float: left;
  padding-top: 14px;
  padding-left: 30px;
}

.nav-logo img {
  height: 35px;
  width: 50px;
}

.about-container {
  background-color: #d3d3d3;
  width: 80%;
  height: auto;
  padding: 15px;
  margin: 4em auto 3em auto;
}

.about-title{
  font-size: 26px;
  text-transform: uppercase;
}

.about-info {
  text-align: left;
  width: 90%;
  margin: auto;
  font-size: 18px;
}

.about-2nd-title {
  font-size: 18px;
  text-transform: capitalize;
  text-align: left;
  margin-left: 50px;
}

.help {
  margin-top: 12px;
  text-align: center;
}

.logo-container {
  margin-top: 5em;
  border-top: 1px solid #c4c4c4;
}

.logo-design {
  width: 60%;
  margin: 30px auto 15px auto;
}

.logo-down {
  margin: 20px auto;
  width: 80%;
}

.last-concerts {
  margin-top: 30px;
}

.logo-down img {
  width: 100%;
  height: 30vh;
  border: 1px solid #c4c4c4;
  padding: 10px;
}

.img {
  margin-top: 1em;
}

.img img {
  width: 100%;
  height: 40vh;
}

/* tickets */

.ticket-head {
  font-size: 1.3em;
  font-weight: 600;
  line-height: 1.3em;
  margin: 0;
  font-family: 'cocogooseregular', 'Poller One', cursive, Arial, sans-serif;;
}

.ticket-head::after {
  content: "";
  display: block;
  background-color: #ec5242;
  width: 2.5em;
  height: 0.2em;
  margin: 18px auto;
}

.centered-par {
  border: 1px solid #c4c4c4;
  text-transform: capitalize;
  border-radius: 1em;
  padding: 0.5rem;
  width: 90%;
  margin: 15px auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
  width: 70%;
  border: 1px solid #dee2e6;
}

.color-thead {
  background-color: #272a31;
  color: #d3d3d3;
}

table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.red-color {
  color: #ec5242;
}

.table1-container {
  margin-top: 5em;
}

.table2-container {
  margin-top: 3em;
}

td label {
  color: #272a31;
}

.preference-button {
  margin-top: 2em;
}

.submit-preference {
  background-color: #ec5242;
  border: none;
  color: #fff;
  font-size: inherit;
  font-family: inherit;
  border-radius: 3px;
  padding: 1rem 3rem;
}

/* footer */

.footer-container {
  border-top: 2px solid rgb(211, 211, 211, 0.8);
}

.links {
  display: flex;
  flex-direction: row;
}

.links ul li {
  font-size: 18px;
}

.links ul li a {
  color: #272a31;
}

.footer-logo {
  display: flex;
  justify-content: space-between;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 16px;
}

.footer-logo img {
  height: 50px;
  width: 60px;
}

.red-heading {
  color: #ec5242;
  font-size: 1.1em;
}

@media all and (min-width: 768px) {
  .bar {
    display: none;
  }

  .nav-logo,
  .lists-ul li,
  .top-nav {
    display: block;
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }

  .top-nav {
    background-color: #272a31;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 100%;
  }

  .top-nav-ul {
    text-align: right;
    margin-right: 20px;
  }

  .top-nav-ul li {
    display: inline;
    padding-right: 10px;
    font-size: 14px;
  }

  .top-nav-ul li a {
    color: #fff;
  }

  .nav-logo {
    margin-left: 100px;
    margin-top: -8px;
  }

  .nav-logo img {
    height: 40px;
    width: 50px;
  }

  .lists-ul {
    margin-right: 150px;
  }

  .lists-ul li {
    font-size: 18px;
    padding-left: 30px;
  }

  .lists-ul li a {
    color: #272a31;
  }

  .lists-ul .first-li a {
    color: #ec5242;
  }

  .lists-ul .orange-border {
    border: 4px solid #ec5242;
    padding: 10px;
    margin-left: 20px;
    margin-top: -10px;
  }

  .links {
    display: flex;
    justify-content: center;
  }

  .links ul li {
    padding-left: 80px;
  }

  .about-container {
    width: 50%;
  }

  .logo-down {
    width: 30%;
  }

  .last-concerts-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .img {
    margin: 15px auto;
  }

  /* tickets */

  .centered-par {
    width: 40%;
  }

}

@media all and (min-width: 1024px) {
  .img {
    width: 500px;
  }
}
