/* General */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, Arial, sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* navbar */

.navbar {
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.bar {
  padding-left: 35px;
  padding-top: 20px;
}

.nav-logo,
.lists-ul li {
  display: none;
}

.main-img img {
  height: auto;
  width: 100%;
  vertical-align: middle;
}

 .main-contents{
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  text-align: center;
 }

 .content-head {
   text-align: center;
   padding-left: 0.625em;
   color: #fff;
 }

 .latest-concert {
   width: 100%;
 }

 .search-input {
  width: 70%;
  height: 30px;
  font-size: 16px;
  border: 1px solid #e2e2e2;
}

 .submit-button {
  width: 15%;
  height: 35px;
  border: 1px solid #e2e2e2;
 }

 .submit-button i {
  font-weight: 700;
  font-size: 16px;
  color: crimson;
 }

 .trending {
  margin-top: -4px;
  background-color: black;
 }

 .artist {
   display: flex;
   justify-content: center;
 }

 .trending h5 {
  color: #fff;
  text-align: center;
  font-size: 15px;
  padding-top: 9px;
}

 .artist img {
  width: 90%;
  height: 200px;
  margin-top: 13px;
 }

 .artist-name {
   text-align: center;
   margin-top: 4px;
 }

 label {
   color: rgb(228, 36, 75);
 }

 @media all and (min-width: 768px) {
  .bar {
    display: none;
  }
  
  .nav-logo,
  .lists-ul li {
    display: block;
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }

  .nav-logo {
    margin-left: 40px;
    margin-top: 5px;
  }

  .nav-logo img {
    height: 40px;
    width: 50px;
  }
  
  .nav-logo a {
    font-size: 26px;
  } 

  .nav-logo span {
    color: rgb(145, 11, 11);
    font-style: italic;
    font-size: 28px;
  }

  .lists-ul {
    margin-right: 20px;
  }

  .lists-ul li {
    font-size: 18px;
    padding-right: 15px;
  }

  .lists-ul li a {
    color: maroon;
  }

 .lists-ul li a:hover {
  color: rgb(145, 11, 11);
 }

 .all-contents {
  margin-left: 12px;
  margin-right: 12px;
 }

 .main-img img {
   height: 60vh;
 }

 .main-contents {
   top: 40%;
 }

 .search-input {
   max-width: 40%;
 }

 .trending-concert{
   display: grid;
   grid-template-columns: repeat(3, 2fr);
 }


}
 


/* main contents */
