/* General */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #fff;
  background-image: url("https://cdn.cp.adobe.io/content/2/dcx/27ca247e-a832-4873-b3a1-4fe283d01e2a/rendition/preview.jpg/version/1/format/jpg/dimension/width/size/1200");
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* navbar */

.navbar {
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.bar {
  padding-left: 35px;
  padding-top: 20px;
}

.nav-logo,
.lists-ul li {
  display: none;
}

.main-container {
  background-image: url(../images/truck.jpg);
  opacity: 0.1;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 40vh;
  margin-top: -16px;
}

.main-contents {
  text-align: center;
  /* background-image: linear-gradient(#272A31, #EC5242, #D3D3D3); */
}

 .content-head {
   text-align: left;
   padding-left: 1em;
   color: #f5990a;
   padding-top: 50px;
 }

 .second-head {
  text-align: left;
  padding-left: 0.625em;
 }

 .latest-concert {
   width: 100%;
 }

 .search-input {
  width: 70%;
  height: 30px;
  font-size: 16px;
  border: 1px solid #e2e2e2;
}

 .submit-button {
  width: 15%;
  height: 35px;
  border: 1px solid #e2e2e2;
 }

 .submit-button i {
  font-weight: 700;
  font-size: 16px;
  color: crimson;
 }

 .trending {
  margin-top: -4px;
 }

 .trending-concert {
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 .trending h5 {
  color: #EC5242;
  text-align: center;
  font-size: 15px;
  padding-top: 9px;
}

 .artist img {
  width: 90%;
  height: 200px;
  margin-top: 13px;
 }

 .artist-name {
   text-align: right;
   margin-right: 36px;
   margin-top: 4px;
   color: black;
 }

 label {
   color: rgb(228, 36, 75);
 }

 .booking {
   float: right;
   height: 40px;
   margin-right: 1.8em;
   font-size: 15px;
   font-weight: 700;
   background-color: #e21937;
   border: 0;
 }

 .booking a {
  color: #fff;
 }

 @media all and (min-width: 768px) {
  .bar {
    display: none;
  }
  
  .nav-logo,
  .lists-ul li {
    display: block;
  }

  .top-nav {
    background-color: #272A31;
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .top-nav-ul {
    text-align: right;
    margin-right: 20px;
  }

  .top-nav-ul li {
    display: inline;
    padding-right: 10px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
  }

  .top-nav-ul li a {
    color: #fff;
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }

  .nav-logo {
    margin-left: 100px;
    margin-top: 5px;
  }

  .nav-logo img {
    height: 40px;
    width: 50px;
  }

  .lists-ul {
    margin-right: 150px;
  }

  .lists-ul li {
    font-size: 18px;
    padding-left: 30px;
  }

  .lists-ul li a {
    color: #272A31;
  }

  .lists-ul .first-li a {
    color: #EC5242;
  }

  .lists-ul .orange-border {
    border: 4px solid #EC5242 ;
    padding: 10px;
    margin-left: 20px;
    margin-top: -10px;
  }

 .all-contents {
  margin-left: 12px;
  margin-right: 12px;
 }

 .main-img img {
   height: 60vh;
 }

 .main-contents {
   top: 40%;
 }

 .search-input {
   max-width: 40%;
 }

 .trending-concert{
   display: grid;
   grid-template-columns: repeat(3, 2fr);
 }
}