/* General */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #fff;
  background-image: url("https://cdn.cp.adobe.io/content/2/dcx/27ca247e-a832-4873-b3a1-4fe283d01e2a/rendition/preview.jpg/version/1/format/jpg/dimension/width/size/1200");
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* navbar */

.top-nav {
  display: none;
}

.navbar {
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.bar {
  float: right;
  padding-top: 14px;
  padding-right: 30px;
}

.bar a {
  color: #EC5242
}

.nav-logo {
  float: left;
  padding-top: 14px;
  padding-left: 30px;
}

.nav-logo img {
  height: 35px;
  width: 50px;
}

.lists-ul li {
  display: none;
}

.main-container {
  width: 100%;
  height: auto;
  margin-top: 0 auto;
}

.main-contents {
  padding-top: 100px;
  margin-bottom: -100px;
}

.big-size {
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  color: #EC5242;
  font-weight: 800;
}

.latest-concert {
  width: 100%;
}

.search-input {
  width: 70%;
  height: 30px;
  font-size: 16px;
  border: 1px solid #e2e2e2;
}

.submit-button {
  width: 15%;
  height: 35px;
  border: 1px solid #e2e2e2;
}

.submit-button i {
  font-weight: 700;
  font-size: 16px;
  color: crimson;
}

/*upcoming section */

.upcoming {
  background-image: url(../images/black.jpg);
  height: auto; 
  width: 80%;
  margin: 140px auto 0 auto;
}

.flex-container {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.flex-article {
  width: 100%;
  height: 10em;
  background-color: rgba(87, 83, 83, 0.418);
  margin: 0.3em;
  text-align: center;
}

.red-heading {
  color: #ec5242;
  font-size: 1.1em;
}

.flex-article p {
  font-size: 0.9em;
}

.bottom {
  padding-bottom: 20px;
  text-decoration: underline #ec5242;
}


/*trending section  */

.trending {
  margin-top: -4px;
}

.trending-concert {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.big-heading {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  padding-top: 9px;
}

.artist img {
  width: 100%;
  height: 250px;
  margin-top: 13px;
}

.artist-name {
  text-align: right;
  margin-right: 30px;
  margin-top: 4px;
  color: #272a31;
}

label {
  color: #ec5242;
}

.booking {
  float: right;
  height: 40px;
  margin-right: 1.8em;
  font-size: 15px;
  font-weight: 700;
  background-color:#ec5242;
  border-radius: 3px;
  border: 0;
}

.booking a {
  color: #fff;
}

/* sponsors */

.sponsors {
  background-color: #272a31;
  height: auto;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 13px;
}

.sponsors-list {
  text-align: center;
  margin-top: -17px;
}

.sponsors-list li {
  padding-top: 7px;
  font-size: large;
}

.sponsors-list li a {
  color: #fff;
}

.bottom-head {
  margin-left: 40px;
}

.links {
  display: flex;
  flex-direction: row;
}

.links ul li {
  font-size: 18px;
 }

 .links ul li a {
  color: #272a31;
 }

 .footer-logo {
  display: flex;
  justify-content: space-between;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 16px;
}

.footer-logo img {
  height: 50px;
  width: 60px;
}

@media all and (min-width: 768px) {
  .bar {
    display: none;
  }

  .nav-logo,
  .lists-ul li {
    display: block;
  }

  .top-nav {
    display: block;
    background-color: #272a31;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 100%;
  }

  .top-nav-ul {
    text-align: right;
    margin-right: 20px;
  }

  .top-nav-ul li {
    display: inline;
    padding-right: 10px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
  }

  .top-nav-ul li a {
    color: #fff;
  }

  .main-contents {
    background-image: none;
    padding-top: 100px;
    margin-bottom: 100px;
  }

  .big-size {
    font-size: 40px;
    padding-left: 140px;
    text-align: left;
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }

  .nav-logo {
    margin-left: 100px;
    margin-top: -8px;
  }

  .nav-logo img {
    height: 40px;
    width: 50px;
  }

  .lists-ul {
    margin-right: 150px;
  }

  .lists-ul li {
    font-size: 18px;
    padding-left: 30px;
  }

  .lists-ul li a {
    color: #272a31;
  }

  .lists-ul .first-li a {
    color: #ec5242;
  }

  .lists-ul .orange-border {
    border: 4px solid #ec5242;
    padding: 10px;
    margin-left: 20px;
    margin-top: -10px;
  }

  .all-contents {
    margin-left: 12px;
    margin-right: 12px;
  }

  .main-img img {
    height: 60vh;
  }

  .flex-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .flex-article {
    height: 14em;
  }

  .red-heading {
    color: #ec5242;
    font-size: 1.1em;
  }

  .flex-article p {
    font-size: 0.9em;
  }

  .bottom {
    padding-bottom: 20px;
    text-decoration: underline #ec5242;
  }

  .trending-concert {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -35px;
  }

  .trends {
    width: 500px;
    margin-right: -40px;
  }

  .artist img {
    width: 90%;
  }

  .right-info {
    margin-right: 30px;
  }

  .color {
    color: #ec5242;
  }

  .strong {
    font-style: italic;
    font-size: 26px;
  }

  .sponsors-list {
    display: flex;
    justify-content: center;
    margin-top: -17px;
  }

  .sponsors-list li {
    padding-right: 20px;
    font-size: 26px;
  }

  .links {
    display: flex;
    justify-content: center;
  }
}
